*{
    margin: 0px;
    padding: 0px;
}
body{
    background: rgb(7, 30, 19);
    color: white;
}
.container{
    margin-top: 100px;
    max-width: 1200px;
    /* margin: auto; */
    margin-left: 150px;
}
.heading{
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-weight: 500;
    box-shadow: 0px 2px 20px rgb(10, 78, 15);
    font-size: 20px;
    color: white;
}
.coin-row{
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    border-radius: 4px;
    margin: 40px;
    padding: 20px 10px;
    font-weight: 500;
    box-shadow: 0px 0px 12px rgb(6, 54, 9);
    background: rgb(12, 52, 33);
    font-size: 20px;
}
.coin-row:hover{
    transform: scale(1.02);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.img-symbol{
    display:flex
}
.img-symbol p{
    font-size: 15px;
}

.coin-name{
    margin-left: -4rem;
}
img{
    height: 40px;
    width: auto;
    margin-right: 8px;;
}

@media (max-width:468px){
    .heading{
        font-size: 18px;
        
    }
    .container{
        margin-left: 0px;
    }
    .coin-row{
        font-size: 15px;
    }
    #num{}
}